[2015-06-28 15:24] ri0t opened #1 "Invite everyone concerned"

[2015-06-28 15:24] ri0t opened #2 "Generate labels and milestones"

[2015-07-01 18:11] brunogola opened #3 "Collect places where we can organize the conf"

[2015-07-01 18:16] bgola commented on #3
Greenhouse - @brunogola will send an e-mail asking
Panke Culture http://www.pankeculture.com ~ 300 people on main room + gallery space + bar + open area - @brunogola will send an e-mail asking
C-Base ~200 people

[2015-07-01 18:27] brunogola opened #4 "Ping Albert"

[2015-07-01 18:29] brunogola opened #5 "Check on Stanford planning status"

[2015-07-01 18:31] brunogola opened #6 "Send an e-mail to the mailing list about an extraordinary meeting next Wed (July 8) @ C-Base"

[2015-07-01 18:37] brunogola opened #7 "Check recording/streaming equipment and possibilites"
- location
- internet connection
- equipment for video recording

we should ask riot about c-base equipment, knowledge and people to do that

[2015-07-01 18:42] bgola commented on #7
we should check with film/audio students that need pratical work if we can use their help for this task

[2015-07-01 18:46] brunogola opened #8 "Find spaces for the concerts"

[2015-07-01 19:00] brunogola opened #9 "List and get replies of possible sponsors"

[2015-07-01 22:32] dvzrv commented on #4
riot and I are going to do this on Friday

[2015-07-02 12:08] #6 closed

[2015-07-03 18:24] dvzrv commented on #4
riot and I did, collected some more useful information.
More tickets will follow.

On July 1, 2015 8:27:31 PM CEST, Bruno Gola notifications@github.com wrote:

##

David Runge
Köpenicker Straße 163
10997 Berlin
http://sleepmap.de

[2015-07-06 15:18] ri0t opened #10 "Determine Conference Date"
A date is necessary to ask for location reservations.

[2015-07-06 15:29] dvzrv commented on #10
we could go for:
2016.03.31. - 2016.04.03
2016.04.07 - 2016.04.10

Those dates are still outside of semesters (at least for Germans). Easter is the week before the first date.
As a reference for public holidays, something like this can be used: http://feiertage.net/uebersicht.php

Are there any more dates we definitely have to avoid?

[2015-07-06 15:40] ri0t commented on #10
i think the second week of april was the better choice. more chances of good weather (and outdoor area usage) too

[2015-07-06 15:40] dvzrv commented on #8
Electro-acoustic/experimental:
NK - http://www.nkprojekt.de/
Ausland - http://ausland-berlin.de/
Ohm - http://www.ohmberlin.com/
Urban Spree - http://urbanspree.com/

[2015-07-06 15:42] dvzrv commented on #7
We should also contact the CCC about it. They would bring everything we need, no/little self-involvement needed, if they're up for it and have the time!

[2015-07-06 15:43] dvzrv commented on #10
Damn, no April's Fools joke n'all ;)

[2015-07-06 15:44] ri0t commented on #10
i can ask for the other date too

[2015-07-06 15:45] dvzrv opened #11 "Find institutions to cheaply rent audio equipment from"
For multi-channel works/ installations we could most likely rent cheaply from https://www.ak.tu-berlin.de/menue/elektronisches_studio/
Meyer UPL-1 ftw!

[2015-07-07 13:18] dvzrv opened #12 "Edit website"
We need someone, or a group (most likely solely) responsible for the website (http://lac.linuxaudio.org) and its updates.

[2015-07-07 13:20] dvzrv opened #13 "Found sponsoring team"
We need a team of people solely responsible for acquiring sponsoring.
We'll also need proper sponsoring contracts about what sponsors are allowed to do (when).

[2015-07-08 20:01] dvzrv opened #14 "Notify users/ lac2016 team members of meeting schedule"

[2015-07-08 20:01] dvzrv opened #15 "Register #lac2016"
Register and USE #lac2016 on freenode

[2015-07-08 20:04] dvzrv opened #16 "Put people on lac-team@lists.linuxaudio.org"
@ri0t
@brunogola

[2015-07-09 02:07] dvzrv opened #17 "Association and fonds sponsoring"
Hauptstadtkulturfonds (Capital Cultural Fonds) - http://www.hauptstadtkulturfonds.berlin.de/index.php?id=156

[2015-07-09 11:11] dvzrv commented on #4
I now have the financial info from last year. Gonna send it to @ri0t

[2015-07-10 20:56] dvzrv commented on #15
Did that. Chanserv guard added.
Flags for certain users will follow on demand.

[2015-07-10 20:56] #15 closed

[2015-07-10 21:00] dvzrv commented on #16
Request sent. Reopen on further additions.
Request for list administration sent, too.

[2015-07-10 21:00] #16 closed

[2015-07-10 21:00] #4 closed

[2015-07-10 21:01] dvzrv commented on #10
How's that coming along?

[2015-07-13 11:05] #14 closed

[2015-07-22 18:13] brunogola opened #18 "Ask for lac-team input / opinions on our planning"

[2015-07-22 18:36] brunogola opened #19 "Ping cash about legalese"

[2015-07-22 18:40] brunogola opened #20 "github issue notifications IRC integration"
https://cogo.wordpress.com/2012/11/07/irc-notifications-on-github/

@flavioamiero

[2015-07-22 19:01] dvzrv commented on #2
Call for papers/ installations/ talks/ workshops
Sponsoring
Book hotel contingents
Print proceedings
Print flyers and posters

[2015-07-22 19:17] dvzrv opened #21 "Chaos Communication Camp Crowdsourcing"
Link to http://linuxaudio.berlin (separate page)

[2015-07-23 12:17] ri0t commented on #5
I think this has been done now..? :)
Edit: Aah, #18

[2015-07-23 12:24] ri0t commented on #17
Here's a list of the LAC15 sponsors that could be interesting:
- http://www.grame.fr/
- http://www.hku.nl/home-en.htm
- http://hoertech.de/web_en/start/

[2015-07-23 12:31] dvzrv commented on #7
Will write to http://c3voc.de next week, when we know date specifics.
We should mention gstreamer and possibly invite them to give a talk about it... it's their baby (concerning audio/video streaming nstuff).

[2015-07-23 13:07] ri0t commented on #17
Berlin (regional) co financing fonds:
- http://www.berlin.de/sen/kultur/foerderung/foerderprogramme/kofinanzierungsfonds/
  Very interesting, the Musicboard:
  http://www.musicboard-berlin.de/

[2015-07-23 15:05] ri0t commented on #19
Pinged. Letsee...

[2015-07-23 15:17] ri0t commented on #10
Since there is a lot of events on the weekend before the first date (easterholidays), we chose the second date:
2016-04-07 - 2016-04-10

[2015-07-23 15:17] #10 closed

[2015-07-23 15:17] ri0t commented on #2
Hmmmmm. We need the first flyers and stuff for the camp. so i'll add the camp meetup as small milestone.

[2015-07-23 15:52] flavioamieiro commented on #20
I've tried to configure the github webhook, have to try it out, though.

[2015-07-23 16:03] flavioamieiro commented on #20
Ok, I had missed a step here. This should work now.

[2015-07-23 16:23] flavioamieiro commented on #20
Let's see if it works with "messages without join" enabled.

[2015-07-23 17:06] ri0t commented on #20
hello? Is this thing on?

[2015-07-23 17:07] ri0t commented on #20
Weeee, i'm on IRC \o/

[2015-07-23 17:07] #20 closed

[2015-07-23 17:09] ri0t commented on #2
We now have a batbunch of new labels. I hope they are useful ,)

[2015-07-23 17:10] ri0t opened #22 "Waffle.io"
I'll add a waffle.io integration, so we get a scrum board ;D

[2015-07-23 17:20] dvzrv commented on #8
NK is out of business from September on.
Other close locations (on the other side of the Spree, a little further up) are:
Radialsystem V - http://www.radialsystem.de/rebrush/downloads/Praesentation_RADIALSYSTEM%20V_web.pdf
Marie Antoinette - http://www.marie-antoinette-berlin.de/
Both are bookable places, but possibly out of range. We'll see.

[2015-07-23 17:22] dvzrv commented on #11
We should also ask speaker companies, if they're willing to either sponsor equipment for the installation space/ hack & roll, etc. or even sponsoring:
http://www.adam-audio.com/

[2015-07-23 17:25] #22 closed

[2015-07-23 17:30] ri0t opened #23 "Collect metadata for flyers/ announcements and layout it"
We need all the stuff that goes into announcements, flyers, etc.
* date, timespan
* location
* url, qr?
* contact info?
* ..what else?

[2015-07-23 19:17] ri0t commented on #11
We should ping these guys: http://www.eve-audio.com

[2015-07-23 19:19] ri0t commented on #9
Linux related
- [ ] Bitwig  (obviously, riot is on it)
- [ ] Soundcloud
- [ ] u-He
- [ ] Nagualsounds(?): http://www.nagualsounds.de/
- [ ] c't (heise) (http://www.heise.de/ct/) (dave through Joachim Heintz)

Not-so-Linux related
- [ ] Justmusic
- [ ] De-Bug: http://de-bug.de/
- [ ] StageTec: http://www.stagetec.com/de/
- [ ] MFBerlin: http://mfberlin.de/en/home/
- [ ] Native Instruments
- [ ] Abl

[2015-07-23 19:21] dvzrv commented on #11
Definitely maybe both :)

[2015-07-23 19:38] ri0t commented on #17
The ClubCommission could help: http://www.clubcommission.de/themen/clubconsult

[2015-07-24 13:39] RhizomaticNomad commented on #11
For hack & roll we could probably get stuff from NewYorck59 (occupied space in Bethanien), depending what we need. There we have to give a donation but no fixed money.

[2015-07-25 08:55] dvzrv commented on #3
If c-base goes smoothly, we need these spaces: http://eti-berlin.de/
We need a meeting with them, asap!

[2015-07-25 08:58] dvzrv commented on #3
More information about how big the rooms are and what they offer, including photos can be found here: http://eti-berlin.de/proberaume/

[2015-07-29 14:54] RhizomaticNomad commented on #8
both next to Ostkreuz:
about:blank http://aboutparty.net ... indirectly I know some people of that collective
Zukunft http://zukunft-ostkreuz.de

[2015-07-30 10:46] dvzrv commented on #1
This should be extended by writing to lac-team.
It will also be extended by crowdsourcing the camp, I'm sure.

[2015-07-30 10:52] dvzrv commented on #21
We should also do a lightning talk at the Camp about LAC!
https://events.ccc.de/camp/2015/wiki/Static:Lightning_Talks
I'll create a page for us.

[2015-07-30 11:36] dvzrv commented on #18
Mail sent.
Now we sit and wait.

[2015-07-30 11:36] #18 closed

[2015-07-30 12:05] dvzrv commented on #21
We also need to submit our meeting to the frab, if we want to use the workshop tent:
https://frab.camp.berlin.ccc.de/en/ber15/cfp/
https://events.ccc.de/camp/2015/wiki/Village:BER
https://events.ccc.de/camp/2015/wiki/Village:C-base

[2015-07-30 12:07] dvzrv commented on #7
I wrote to the VOC, we'll see what they have to say.

[2015-07-30 19:08] ri0t opened #24 "Setup a Frab instance for content planning"
https://github.com/frab/frab

[2015-07-30 19:10] ri0t commented on #19
Wow. Interesting. Gotta pin this down, but it looks good.

[2015-07-30 19:12] ri0t opened #25 "Setup an Engelsystem for helper's organization"
https://www.engelsystem.de/

[2015-07-31 12:17] dvzrv commented on #1
I also notified #lac2015@freenode about the new channel.

[2015-07-31 13:35] ri0t commented on #1
the irc webchat link is: http://webchat.freenode.net/?randomnick=1&channels=lac2016&uio=d4

[2015-07-31 13:37] ri0t commented on #2
I also created a bunch of hopefully useful milestones. not all mentioned above, though!
We still need to come up with rough dates for those!

[2015-07-31 15:46] ri0t opened #26 "LACOrg Meeting @camp"
We wanted to hold a camp organizational meetup. We'll have to determine the date, time and location.

[2015-07-31 21:14] dvzrv commented on #26
Not: 16th between 18:30 - 19:00

[2015-08-05 19:41] dvzrv commented on #24
We might want to set this up for http://lac.linuxaudio.org.
On lac-team@lists.linuxaudio.org we can ask, who is running the current servers and if we can install frab there, so it can be reused.

[2015-08-06 11:02] dvzrv commented on #19
@ri0t : We need more information on this. It's a major blocker for funding!

[2015-08-06 17:17] ri0t commented on #26
I'm registering the meetup at BER's frab right now

[2015-08-06 20:34] RhizomaticNomad commented on #23
what else should be on the flyer? small changes i could do quickly. bigger changes d.i.y.

[2015-09-30 18:20] dvzrv opened #27 "Get hardware for the Engelsystem on site"
We need hardware for the Engelsystem on site at c-base. @ri0t will make sure that we'll have that (most likely in the soundlab).

[2015-09-30 22:45] #3 closed

[2015-09-30 22:45] #21 closed

[2015-09-30 22:46] #19 closed

[2015-09-30 22:46] #7 closed

[2015-09-30 22:46] #5 closed

[2015-09-30 22:46] #26 closed

[2015-10-01 17:43] ri0t commented on #25
Ideally we have this and #24 on separate virtual machines (docker containers would be nice) so we can instantiate and back them up easily as well as deploy them anywhere. I would deploy them on a soon-to-be-gotten machine in the soundlab.

[2015-10-01 17:43] ri0t commented on #24
Ideally we have this and #25 on separate virtual machines (docker containers would be nice) so we can instantiate and back them up easily as well as deploy them anywhere. I would deploy them on a soon-to-be-gotten machine in the soundlab.

[2015-10-01 17:46] ri0t commented on #24
Oh, that is possibly already solved:
https://hub.docker.com/r/gglnx/frab/
https://hub.docker.com/r/mpfeil/docker-frab/

[2015-10-01 17:46] ri0t commented on #25
Lookylooky: https://hub.docker.com/search/?q=engelsystem

[2015-10-02 10:34] dvzrv commented on #17
DEGEM (http://www.degem.de/) wants to lent their name (according to Joachim Heintz).

[2015-10-02 10:38] dvzrv commented on #17
The Linux Foundation (http://www.linuxfoundation.org/) must be asked.

[2015-10-04 12:30] dvzrv opened #28 "Find hotels/hostels nearby, book hotel/hostel contingents,"
We need hotel contingents to be pre-booked for the participants.
The status on the booking has to be checked in between every now and again!

Find hotels/hostels close to c-base and list them here.

[2015-10-10 16:27] dvzrv commented on #8
All further collections and updates on it should be done in the etherpad:
http://linuxaudio.berlin:9001/p/sponsoring-locations

[2015-10-10 16:29] dvzrv commented on #17
We split the sponsoring chunk into three:
http://linuxaudio.berlin:9001/p/sponsoring-associations
http://linuxaudio.berlin:9001/p/sponsoring-corporations
http://linuxaudio.berlin:9001/p/sponsoring-press

All further collecting of data and updates should be done in the pad.

[2015-10-10 16:34] dvzrv commented on #17
Sponsoring packages have been moved to: http://linuxaudio.berlin:9001/p/sponsoring-packages

[2015-10-25 16:08] ri0t opened #29 "Extend org team"
We need a few more willing volunteers.

[2015-11-24 12:57] magnetophon commented on #11
I've also asked fusion-festival.de for options. They regularly support other organizations, for example last CCCamp.

[2015-12-05 11:06] ri0t commented on #17
The pads have moved.

[2015-12-05 12:04] dvzrv commented on #17
indeed, now:
https://pad.sleepmap.de/p/lac2016-sponsoring-associations
https://pad.sleepmap.de/p/lac2016-sponsoring-corporations
https://pad.sleepmap.de/p/lac2016-sponsoring-press
https://pad.sleepmap.de/p/lac2016-sponsoring-letter
https://pad.sleepmap.de/p/lac2016-sponsoring-packages

[2016-01-17 17:53] abrolag commented on #1
When will we see information generally publicised? It's getting very late :(

[2016-02-02 09:33] dvzrv commented on #27
Got a wiki to do this: http://frab.linuxaudio.org

[2016-02-02 09:33] #27 closed

[2016-02-02 09:34] dvzrv commented on #24
Got a wiki to do this: http://frab.linuxaudio.org

[2016-02-02 09:34] #24 closed

[2016-02-02 09:39] dvzrv opened #30 "Organize sub-conference at FROSCON"
There will be no academic side of LAC with miniLAC (too late for the review process to kick in until April, lack of resources, etc.), but the VOC (https://c3voc.de/) notified us about the possibility of doing a subconference at FROSCON (http://www.froscon.de/).
This could possibly host the academic side of things for LAC this year (yay, another sub-event!), but someone will have to get in touch wi

[2016-02-04 16:18] dvzrv commented on #13
Dumped sponsoring

[2016-02-04 16:18] #13 closed

[2016-02-04 16:19] dvzrv commented on #29
@samtuke @Excds @ri0t are now wiki admins (http://minilac.linuxaudio.org)

[2016-02-04 16:19] #29 closed

[2016-02-04 16:20] dvzrv commented on #9
Dumped sponsoring

[2016-02-04 16:20] #9 closed

[2016-02-04 16:21] dvzrv commented on #17
I'm currently also part-time working for http://hybrid-plattform.org
There might be a chance of getting some promotion out of this.
WIP

[2016-02-04 16:22] dvzrv commented on #12
We still need to add the miniLAC to http://lac.linuxaudio.org

[2016-02-04 16:23] dvzrv commented on #1
Announcement is out.

[2016-02-04 16:23] #1 closed

[2016-02-04 16:23] dvzrv commented on #25
Got a wiki to handle this: http://minilac.linuxaudio.org

[2016-02-04 16:23] #25 closed

[2016-02-04 16:27] dvzrv commented on #11
We have a stereo setup in mainhall. We should think about maybe extending this to 4 or 8 channels, if possible.
Electronic Studio of TU is still going to cost minor rental/ insurance fees.
In any case: The Meyer UPL-1 I would only want to setup in the mainhall if there's no smoking allowed during them being around.
They're too expensive to spoil.

[2016-02-04 16:30] dvzrv commented on #28
Berliners: We still need a list of hostels, etc.!
Anything close to U2 or U8 will do!
Add this information to http://minilac.linuxaudio.org

[2016-02-04 16:31] dvzrv commented on #8
If external concerts are still a thing, we need to find out where/when asap, else close this.

[2016-02-10 12:14] #23 closed

[2016-02-15 22:44] dvzrv commented on #8
Awaiting reply from Spektrum (http://spektrumberlin.de) and Ohm for possible sound night on April 9th.

[2016-02-18 18:38] dvzrv commented on #8
Spektrum is saying no to Saturday 9th April.
I submitted another request for the Sunday (10th April).

[2016-02-18 20:53] dvzrv commented on #12
http://lac.linuxaudio.org

[2016-02-18 20:53] #12 closed

[2016-02-18 20:53] dvzrv commented on #28
http://minilac.linuxaudio.org/index.php/MiniLAC:About#Where_can_I_stay_during_miniLAC.3F

[2016-02-18 20:53] #28 closed

[2016-03-08 20:59] ri0t commented on #2
I fixed this!!11!

[2016-03-08 20:59] #2 closed

[2016-03-08 21:01] ri0t opened #31 "Lable the cables"
Everything we need to use during the conference needs to be labeled

[2016-03-08 21:02] ri0t opened #32 "Label hardware"
Label all the hardware needed for the conference

[2016-03-08 21:05] ri0t opened #33 "Get temporary keys for the org-team"
Ohyeah. @Excds and @dvzrv  need temporary ceys. Ping ceymaster@c-base.org with a nice short request stating the reason.

[2016-03-08 21:06] ri0t opened #34 "Make sure, the cleaning for Linux Audio Night is cared for."
Really important to order this AT LEAST two weeks prior the event

[2016-03-08 21:08] ri0t opened #35 "Make sure, all the used areas are clear and "okay for the event""
Check cleanliness, working state of equipment, refillables (soap, towels, dishwasher, beverages etc.)

- [x] mainhall

- [ ] seminar room

- [x] soundlab

- [x] upper deck

- [x] weltenbaulab

- [x] toilettes (upstairs and downstairs)

- [x] vending machine

[2016-03-08 21:09] ri0t opened #36 "Learn how to officially refill the replicator"

[2016-03-08 21:10] ri0t opened #37 "Print name tags (collect from the wiki)"
http://minilac.linuxaudio.org/index.php/Special:ListUsers

We'll probably have to reopen this ticket again shortly before the conference (because last minute people ;)

[2016-03-08 21:12] ri0t opened #38 "Replace intransparent tux on wiki"
I maeds a nice transparent one:
 http://minilac.linuxaudio.org/index.php/File:Linux-audio-tux.png

[2016-03-08 21:14] ri0t opened #39 "Add food places to the wiki"

[2016-03-08 22:09] ri0t opened #40 "LSN coordination and planning meeting"
Like, we need:
* [ ] a dj to bridge setup gaps
* [ ] bar management
* [ ] lineup

[2016-03-09 10:55] sonejostudios commented on #40
Hey! Is there any Subscription Papers for the Linux Sound Night and the Workshops/Presentations?

[2016-03-09 11:06] ri0t commented on #40
subscription papers? We will not do any proceedings and as such will probably not deal with scientific papers this time. There's a schedule with self-registration here: http://minilac.linuxaudio.org/index.php/LinuxSoundNight#Timetable (Also for the regular events: http://minilac.linuxaudio.org/index.php/Schedule )
Cheers!

[2016-03-09 11:30] abrolag opened #41 "Equipment specifications"
Can someone list the spec of equipment available.
e.g.
Mainhall projector resolution
Audio system inputs in conference room

[2016-03-11 13:10] autostatic commented on #41
Good one! Allow me to specify our needs a bit more:
- What inputs does the main hall projector have? VGA, HDMI (mini or standard), DVI, Displayport (mini or standard)? Does it do Airplay? Or Chromecast?
- What kinds of inputs and outputs are available in the conference room? RCA, 1/4″ jack, 1/8″ jack, XLR, balanced, unbalanced, etc.
- Same for the main hall wrt the Linux Sound Night
- What mixer i

[2016-03-12 12:31] dvzrv commented on #41
Concerning the mixers: There are >=4 channel mixers of different brand available.
We'll get you the specs next week most likely.

The projector in the mainhall can be got over VGA (for sure), but also HDMI is possible afaik.
For the correct list of things, please wait! :)
I've assigned @Excds to this, he might be able to fill these things out sooner than I can.

[2016-03-12 12:38] dvzrv commented on #38
Done

[2016-03-12 12:38] #38 closed

[2016-03-13 16:20] ri0t commented on #17
Meh.

[2016-03-13 16:20] #17 closed

[2016-03-13 16:21] ri0t commented on #8
More Meh. Should indeed something pop up, open another issue..

[2016-03-13 16:21] #8 closed

[2016-03-13 16:23] ri0t opened #42 "Get coffee supplies working"
We'll need cups, machines and coffee. Cultorga probably has cups & machines, riot could get FAIR and very good coffee from fairbindung. (A little bit more expensive though!)

[2016-03-14 12:00] magnetophon commented on #11
Is this issue still open?

The fusion people just asked me wether we still need their equipment.

[2016-03-14 21:24] Excds commented on #33
Email sent.

[2016-03-14 21:26] Excds commented on #42
@ri0t cven said we should email (forgot the name) from Culturorga about the coffee machines.

[2016-03-14 21:28] Excds commented on #40
@ri0t I have a DJ setup I can bring and I can do that.

[2016-03-15 00:28] dvzrv commented on #11
@magnetophon not sure we'll actually still need this. Would only make sense in the seminar room, as we have usable setups in mainhall and soundlab. Do you know if we can get a small sized PA for the seminar room? If so, come by tomorrow evening at c-base at 19:30 (orga meeting)
P.S.: A short notify about that they actually offered anything would have been good when they offered it ;-)

[2016-03-15 13:54] RhizomaticNomad commented on #42
Alternativ könnte ich Kaffee bei Aroma Zapatista https://www.aroma-zapatista.de/catalog/category/view/id/11 bestellen ... ist etwas günstiger und die Gewinne gehen direkt an eine emanzipatorische, solidarische Bewegung.

[2016-03-15 19:24] dvzrv commented on #33
yay, got mine. It's 12345678

[2016-03-15 19:24] #33 closed

[2016-03-15 19:32] abrolag commented on #31
So is there a cable label table?
Sorry, couldn't resit.
Ah, my coat. Thanks :)

[2016-03-15 19:39] dvzrv opened #43 "Generate template for infobeamer"
We need to generate a template (css) with pictures (from matelight) for the infobeamer.
This weekend!

[2016-03-15 19:42] dvzrv opened #44 "Getting CCC hardware"
CCC hardware will be grabbed with VOC team members on the 7th

[2016-03-15 19:43] dvzrv opened #45 "Getting Electronic Studio hardware"
Grabbing Electronic Studio hardware (small 8 channel setup) on the 7th

[2016-03-15 19:48] dvzrv opened #46 "Send mail to intern and other relevant c-base mailing lists"
We need to invite c-base members and generate more helpers.

[2016-03-15 20:29] dvzrv commented on #31
http://www.kira-fansub.com/wp-content/uploads/2012/03/ba-dum-tss1.jpg
;-)

[2016-03-16 20:22] dvzrv opened #47 "Generate Fahrplan XML from wiki schedule for VOC streaming"
Peter mentioned the need to generate a proper XML from the wiki schedule, so it can be used on the streaming template.

[2016-03-16 20:24] dvzrv commented on #41
@autostatic: visually it seems literally _every adapter available_ will be provided by the VOC (CCC's VideoOperationCenter).

Audio specs will be added over the coming weekend.

[2016-03-16 20:29] autostatic commented on #41
That's great to hear! Looking forward to hearing more about the audio specs.

[2016-03-17 09:08] dvzrv commented on #42
@RhizomaticNomad guess you just volunteered? :)

[2016-03-17 12:10] magnetophon commented on #11
@dvzrv: We probably can get one.
Should I request it from them?

[2016-03-17 12:13] magnetophon commented on #11
We will probably have to get it ourselves, from Lärz, about an hour driving from Berlin.
Maybe that doesn't make sense if its just for one small PA...

[2016-03-17 15:20] dvzrv commented on #11
@magnetophon: na, nevermind. Will get a small 8 channel active speaker setup from TU and the rest from the CCC.

[2016-03-17 15:20] #11 closed

[2016-03-18 11:48] RhizomaticNomad commented on #42
yes I did.
how will we manage the money and how much should I order; do you prefer one kind/flavour or different?

[2016-03-20 16:09] dvzrv commented on #41
Alrite, for the Seminar room I updated them (http://minilac.linuxaudio.org/index.php/Seminar_room)
I'll try and be at c-base tonight to get the specs of the rest of them and fill them in.

[2016-03-20 16:37] dvzrv commented on #42
@RhizomaticNomad: okay, that's great! I'm not much of a coffee drinker anymore, so... you decide!
Same counts for the money collection. Let us know, what it'll cost and we'll try to cover this by donations.
Currently there's no other way. If you can think of any, let us know.
Also: If you'd like to boost the donations and take care of them during the event, please go for it.
Will open another issu

[2016-03-20 16:42] dvzrv commented on #34
atm. we think the scheduling for cleaning would be best after Linux Sound Night (so Sunday morning, before 10:00).

[2016-03-20 16:45] dvzrv opened #48 "Donations"
There are some open positions that we need to cover with donations or cover ourselves.
Namely those are:

- [x] Coffee (#42) (62€)
- [x] Transportation of equipment (#45 #44 ) (39€ + delivery (20160413) for mate, thx ryo!)
- [x] Extra cleaning (#34) (100€)
- [x] Insurance for VOC equipment (#44) (190,4€)
- [x] postage of mainhall frame grabber for test (~20€)

[2016-03-20 16:48] dvzrv opened #49 "Deliver Electronic Studio gear"
All electronic studio gear has to be brought back to TU.
I'd prefer the Monday later afternoon for this (20160411).

I'll book a Robbe transporter for it.

[2016-03-20 16:48] dvzrv opened #50 "Deliver CCC hardware"
All VOC equipment has to be brought back to their storage unit.
Preferably I'll do this alongside #49 on Monday 20160411.

[2016-03-20 18:02] abrolag commented on #42
How about having a clearly marked donation pot in some central location. I'd be more than happy to drop a few Euro in from time to time - especially if there was an active display somewhere showing what needs to be covered.

[2016-03-20 18:04] abrolag commented on #41
This might seem obvious, but what is a 'beamer'? It's not a term I've heard in the UK :(

[2016-03-20 18:48] ri0t commented on #46
aye - done! We should maybe try'n get this out to the other spaces in town, as well, if we feel the attendance to be too light.

[2016-03-20 18:48] #46 closed

[2016-03-20 21:00] ri0t opened #51 "Generate opening event content/speech"

[2016-03-20 21:01] ri0t commented on #48
This needs dire mention in #51

[2016-03-21 00:46] dvzrv commented on #41
@abrolag: You're right. I've fixed that (for the seminar room).
Will have more info on the projector/beamer for the mainhall after Tuesday night, when we've discussed things like screengrabbing with the VOC.

[2016-03-21 20:27] abrolag commented on #41
That's a seriously good spec! I should be able to plug straight into my laptop without any problem!

For my workshop I asked for a dumb midi/usb keyboard. Is there any chance of one being available? I can work without it if necessary, but it'd be much better with one :)

[2016-03-22 18:37] dvzrv opened #52 "Setting up hardware for streaming"
The streaming hardware will be setup by cven and @derpeter on Friday, 20160408 for mainhall.
The streaming and audio hardware for the seminar room will be setup by @dvzrv and @derpeter on Thursday, 20160407 and Friday, 20160408.

[2016-03-22 20:40] dvzrv opened #53 "Matelight ticker content"
We need ticker content for the matelight.
Please add more!

- [x] miniLAC wiki
- [x] miniLAC logo
- [ ] ~~schedule~~

[2016-03-23 13:24] derpeter commented on #52
OK current plan is:
we grab everthing we need from CCCB on 6.4 and bring it either to the owncloud office or right to the cbase.

We need to fetch one machine from the ccc warehouse which we can do when ever its suitable for the logistig. Getting the stuff from cccb can be done by drive now.

Framegrabber for the mainhall is reuqested, i assume we get an answer this week.

[2016-03-23 15:28] derpeter commented on #47
https://github.com/voc/schedule <= this could help you
and here https://c3voc.de/wiki/schedule you will find the validator

[2016-03-23 15:32] derpeter commented on #30
Is this still planed? did you already got contact?

[2016-03-23 17:41] dvzrv commented on #30
No contact. There's not much of a response from the community (yet).
We might be of help, but we will not be able to be main organizers.

[2016-03-29 10:20] abrolag commented on #41
Any news on availability of a MIDI keyboard on the conference room?
Sorry if this is the wrong place. I don't know where else to ask.

[2016-03-29 10:22] falkTX commented on #41
I have a small one that I can bring.

[2016-03-29 12:32] dvzrv commented on #41
@abrolag there are some in the soundlab, too. I can get you the specs later tonight, latest tomorrow night and will update the wiki accordingly.

[2016-03-30 10:42] Excds commented on #41
@abrolag I have a CME U5 in the soundlab that can be used. I was also thinking to bring some other controllers that people can borrow. So I can provide a Novation Launchpad, Akai LPK25 and LPD8.

If need be I could also bring a CME UF70 and an FCB1010.

[2016-03-30 13:48] abrolag commented on #41
Thanks everyone. It seems we are suddenly overwhelmed with choice! If there are some already there I'm sure that will be fine.

[2016-03-30 18:59] ri0t commented on #43
Looky, looky: https://github.com/linux-audio-berlin/info-beamer-minilac16

Still have to replace the chaotic letter changes - those are tooo 29c3'y.
Also, is this all we need for the VOC?

[2016-03-31 11:40] dvzrv commented on #44
I wrote to bengoshi to get the status of the insurance on external hardware.

[2016-04-03 18:03] ri0t opened #54 "Infobeamer machinery on board"
Mainhall: Chromebox from King Rubbel is probably going to run infobeamer
Seminarroom: Needs a box
Weltenbaulab: Needs installation on c-lib box (riot)
Soundlab: Needs fixing of OpenGL3 problem (possibly install the RPi variant)
HE1: See Mainhall - or should we have a dedicated display up there?

[2016-04-03 18:07] ri0t opened #55 "Infobeamer whole schedule node"
To display the whole ongoing and next sessions. Could be ready somewhere.

[2016-04-03 18:18] ri0t opened #56 "Press announcement needs to go out TODAY."
We need this translated to -press- english (for slashdot etc):

Vom 8.-10. April 2016 findet in der Raumstation c-base unter Berlin Mitte die diesjährige Linux Audio Conference in etwas kleinerem Rahmen -  als miniLAC - statt, da die Teilnehmerzahl auf 150 Audio Hacker begrenzt ist.
Zahlreiche Entwickler und Anwender der vielfältigen Linux Audio Szene kommen hier zusammen. Es wird 3 Tage lang über

[2016-04-04 17:36] dvzrv commented on #56
updated, should be good to go.

[2016-04-04 17:51] dvzrv commented on #49
8x Fostex 6301B, 6x XLR (female) -> balanced jack, 2x balanced jack -> balanced jack, 2x XLR->XLR, 8x stands, 8x long power cables, 4x power multiplier
https://cloud.sleepmap.de/index.php/s/CKek8ekOCsuMXgt

[2016-04-04 17:52] dvzrv commented on #42
@RhizomaticNomad: what's the status on this?
http://minilac.linuxaudio.org/index.php/Category:User <- these are all users that currently have setup their user page properly and are (most likely) coming

[2016-04-04 17:55] dvzrv commented on #34
Cleaning is scheduled for Sunday morning, finished until 09:30h.

[2016-04-04 17:55] #34 closed

[2016-04-04 20:31] ri0t commented on #56
- Golem - erledigt
- Heise - erledigt
- Linux Weekly News - erledigt
- Linux Magazin - erledigt
- CreateDigitalMusic - erledigt
- Hack a Day - erledigt

[2016-04-04 20:31] #56 closed

[2016-04-04 20:52] dvzrv commented on #54
according to @derpeter, the VOC will provide a bunch of preinstalled RPi{1,2,3}s with info-beamer.
I think we can close this.

[2016-04-04 21:23] ri0t commented on #54
Yes, then we can - we could still try to provide another one on the c-lib - i just don't have admin access there (It is an Arch)

[2016-04-04 21:23] #54 closed

[2016-04-04 21:30] ri0t commented on #36
Done. The important bit is at replicator.cbrp3.c-base.org

[2016-04-04 21:30] #36 closed

[2016-04-04 21:30] ri0t commented on #36
Anyone looking this up: BE CAREFUL NOT TO TOUCH THE LOWEST BOTTLES when refilling - the machine CAN eat your hand - easily!

[2016-04-05 08:19] derpeter commented on #54
We want to use "hosted infobeamer" therefore it needs to be raspi hardware.
I will pick some pis up later today

[2016-04-05 09:09] dvzrv commented on #31
closing for being a duplicate of #32

[2016-04-05 09:09] #31 closed

[2016-04-05 09:11] dvzrv commented on #32
All TU hardware for the seminar room is labeled.
AFAIK same counts for the VOC hardware, right @derpeter?

Only all used c-base hardware needs to be labeled then!

[2016-04-05 09:16] dvzrv commented on #37
Actually, everyone in **this** list (http://minilac.linuxaudio.org/index.php/Category:User) is used for it. The other one is now full of spam users that are blocked.
If people haven't properly setup their account, that's not our concern.

Only use username? Would be fine by me.

[2016-04-05 14:57] derpeter commented on #32
right. we have collored cabelties an all our stuff

[2016-04-05 15:43] RhizomaticNomad commented on #42
Depends on how much is needed, I've 10 packages espresso à 250g right now, I can't imganie how much is possibly needed. And if "normal" coffee instead of espresso is needed, too?

[2016-04-05 16:07] Excds commented on #42
@RhizomaticNomad The coffee machines we will have only use normal coffee. We don't have an espresso machine. :-(

[2016-04-05 16:23] Excds commented on #41
@abrolag I'm thinking about skipping the FCB1010 (foot controller) and the UF70 (76 keys keyboard) since they're a bit large and not so portable. Are the other ones suggested enough?

[2016-04-05 16:29] abrolag commented on #41
Just a dumb keyboard (say 49 keys) would be fine for me. I'll only be doing one-handed stuff. Trying to use a virtual keyboard tends to detract from the impact ;)

[2016-04-05 16:30] ri0t commented on #56
- [x] Linux Magazin: http://www.linux-magazin.de/NEWS/Linux-Audio-Konferenz-in-Berlin
- [ ] Golem
- [ ] Heise
- [x] LWN http://lwn.net/Calendar/
- [ ] CDM
- [ ] HaD

[2016-04-05 16:56] RhizomaticNomad commented on #42
OK, and what do you think how much we'll probably need, can also get the filter coffee.

[2016-04-05 20:21] Excds commented on #41
@abrolag The small (but very portable) LPK25 is only 25. But I have a larger 49 key keyboard at c-base. We'll figure it out. We've got stuff. :-)

[2016-04-05 20:26] Excds commented on #42
I think we'd need at least 5kg of coffee. We can judge the coffee consumption on Saturday and in worst case we can go get more.

[2016-04-06 10:10] abrolag commented on #41
Thanks - even the 25 would be better than a virtual one ;)
I'll be 'off-grid' later today. I'm travelling to Berlin by train from England first thing tomorrow (making a holiday of it).
See you all soon :)

[2016-04-06 13:01] dvzrv commented on #37
Got enough labels now! They can be used with a laser printer and are sticky.

[2016-04-06 14:02] dvzrv commented on #47
I'm updating the event templates now, so we can parse the pages and generate the xml later.

[2016-04-06 17:12] Excds commented on #37
@dvzrv Wasn't this assigned to me? I just went and bought labels for printing...

[2016-04-06 17:13] Excds commented on #41
@abrolag Have a nice trip! :-)

[2016-04-06 17:14] Excds commented on #39
Added a bunch of places to eat to the new restaurants page.

[2016-04-06 17:14] #39 closed

[2016-04-06 17:42] ri0t opened #57 "Space X Launch on Friday ~22:45"
Bergie already mentioned, that there will probably (90%) be a spacex launch on friday night.
I'd LOVE to have this supported by ambient music from the participants! That would be a nice challenge.
The launch audio (just  a few minutes - countdown etc) would have to be mixed in, no other "noise" (cheering etc)..
More details + countdown at:
https://spacexstats.com/missions/spacex-crs-8

[2016-04-06 17:48] bergie commented on #57
I think the best livestream for this would be the SpaceX "Technical livestream", since that only has the launchnet radio communications (including countdown) and some rocket noises. No narration or cheering.

Here's an example how that might sound: https://youtu.be/sIkPP2LM8DU?t=8m26s

[2016-04-06 18:31] dvzrv commented on #47
@ri0t is in the process of finishing a parser for our data. The final schedule will be made available on the pages for Lecture/Workshop/Hacking (with settings for date/start, etc.) later this evening.

[2016-04-06 23:49] ri0t commented on #57
It will be done.

[2016-04-06 23:49] ri0t commented on #57
Needs to be entered into the schedule :)

[2016-04-07 07:52] dvzrv commented on #57
@bergie please register with the wiki and do it! :)

[2016-04-07 09:15] dvzrv commented on #47
I will start updating the Lecture/Workshop and Hacking pages with proper start and day figures

[2016-04-07 09:18] dvzrv commented on #37
Yes, I just got them for free... and it's only a few. You'll do the right thing! :)

[2016-04-07 09:22] dvzrv commented on #32
We can get the label printer of c-lab to do this job. We'll figure this out Friday latest.

[2016-04-07 10:27] dvzrv commented on #47
The timeslots are now setup. I think minor changes might happen, but for now this is it.
@ri0t do the magic! :)

[2016-04-07 11:13] ri0t commented on #47
[code]

[2016-04-07 11:15] ri0t commented on #47
The infobeamer next room node expects a different kind of json:

[code]

[2016-04-07 13:25] derpeter commented on #32
il try to remember to bring one but its good to have also a backup plan

[2016-04-07 13:56] dvzrv commented on #44
Insurance is on the way. A tad more expensive, than I thought, but still within limits, I think.

[2016-04-07 13:58] dvzrv commented on #48
@RhizomaticNomad any update on the price for coffee, or are you donating? :)

[2016-04-07 15:50] RhizomaticNomad commented on #42
I have 5kg of coffee right now and can get more if we need ... or give unused packages back if it's more than we need.
The price is 8€/500g, to donate this I can't afford unfortunately.

[2016-04-07 15:50] bergie commented on #57
@dvzrv which wiki?

[2016-04-07 16:05] dvzrv commented on #57
http://minilac.linuxaudio.org

[2016-04-07 17:41] ri0t commented on #57
Aah, the schedule is locked. I will add it later.

[2016-04-07 17:42] ri0t commented on #40
You do realize we have a pioneer djm?

[2016-04-07 19:18] Excds commented on #42
@RhizomaticNomad Ok, we'll solve the expenses. Closing this ticket now since we have the coffee.

[2016-04-07 19:28] Excds commented on #42
Ah, right, we need milk and sugar as well. Reopening...

[2016-04-07 19:29] #41 closed

[2016-04-07 19:31] Excds commented on #32
Dave brought stickers that people can write their name on. Good enough, closing...

[2016-04-07 19:31] #32 closed

[2016-04-07 21:43] Excds commented on #37
Alignment got a little bit weird when printing, but I'm going to close this anyway. We have tags...

[2016-04-07 21:43] #37 closed

[2016-04-08 06:39] sonejostudios opened #58 "Schedule change"
Hey,

because we both focused on live music we decided put Fabla2 and Linux Live on Stage together in the Mainhall.

New Schedule:
-Fabla2 : 12h-12h45
-LinuxLiveonStage: 12h45-13h30

[2016-04-08 10:54] dvzrv commented on #58
Oh, I misunderstood Harry yesterday then.
Will change

[2016-04-08 10:56] dvzrv commented on #58
Hmm, as I said yesterday, you're killing my lunch break with this! ;-)
Will have you start around 13:00h though. Without a break in between this will turn into a mess.

[2016-04-08 10:56] #58 closed

[2016-04-08 11:00] dvzrv commented on #48
Added this to the opening lecture.

[2016-04-08 11:27] dvzrv commented on #48
Added a donation page: http://minilac.linuxaudio.org/index.php/Donation

[2016-04-08 14:13] sonejostudios commented on #58
well, we need at least 45mn i guess... if possible we would start at 12:50 after a short breat (all depending on harry's end time).

[2016-04-08 14:41] harryhaaren commented on #58
I see schedule is updated, with both OpenAV and Linux-Live in that slot - awesome.

@sonejostudios - I'll keep it to 45 mins in duration (there will be enough time during the weekend to do more workshops / hands on with people directly if they want)

[2016-04-08 15:55] ri0t commented on #57
Doesn't even need to go to the schedule - is  in the wiki now :)

[2016-04-08 15:55] #57 closed

[2016-04-08 17:37] IARI commented on #58
@harryhaaren @dvzrv
15 minutes break would mean we only have 30 minutes, unless we dont care for the food-break thing.
Since I'm totally new to the scene an haven't been to a lac before, I have no idea, how this is handled.
I would really prefer if we could have 45 minutes total - can we somehow manage that?

[2016-04-08 17:59] IARI commented on #58
@harryhaaren @dvzrv
15 minutes break would mean we only have 30 minutes, unless we dont care for the food-break thing.
Since I'm totally new to the scene an haven't been to a lac before, I have no idea, how this is handled.
I would really prefer if we could have 45 minutes total - can we somehow manage that?

[2016-04-08 18:13] Vampouille commented on #58
+1 It would be nice to see you 45 minutes !

[2016-04-08 18:35] IARI commented on #58
@Vampouille are you coming??!? ;D <3

[2016-04-08 18:38] Vampouille commented on #58
No I'm not coming, I did not found cheap ticket for Berlin :-( but I want to see your presentation !

[2016-04-08 20:24] RhizomaticNomad commented on #42
I'll bring 3l milk, 2l rice soy drink and a package of sugar, but I won't arrive before half past 10, maybe 11. So it would be good if somebody else also picks up a bit.

[2016-04-08 20:51] RhizomaticNomad commented on #48
Till now coffee is 82 Euro, tomorrow I'll add the other expenses.

[2016-04-09 00:16] dvzrv commented on #58
@IARI: no.
12:00 - 12:45
13:00 - 14:30

[2016-04-10 00:45] #55 closed

[2016-04-10 00:46] #53 closed

[2016-04-10 00:46] ri0t commented on #47
\o/

[2016-04-10 00:46] #47 closed

[2016-04-10 00:47] ri0t commented on #43
Yah, works, apparently \o/

[2016-04-10 00:47] #43 closed

[2016-04-10 00:47] ri0t commented on #40
OMG. :D :+1:

[2016-04-10 00:47] #40 closed

[2016-04-10 00:49] ri0t commented on #35
Oh, i forgot to tick these and close this, after i did them. HUGE THANKS to Harry for helping!

[2016-04-10 00:49] #35 closed

[2016-04-10 00:50] ri0t commented on #42
Weee - good coffee! Do we have enough supplies? If not, reopen ticket.

[2016-04-10 00:50] #42 closed

[2016-04-10 00:51] ri0t commented on #44
Superb! I'd say this - and attached - was one of major milestones! Oh, hello, cap'n obvious!

[2016-04-10 00:51] #44 closed

[2016-04-10 00:53] ri0t commented on #52
Totally works! Awesome! Huge thumbs up to @derpeter, the whole c3voc and everyone else involved.

[2016-04-10 00:53] #52 closed

[2016-04-10 00:53] ri0t commented on #45
I heard it shake the building!

[2016-04-10 00:53] #45 closed

[2016-04-10 00:54] ri0t commented on #51
This is as good as it gets. It will get better by the following discussion - looking so forward!

[2016-04-10 00:54] #51 closed

[2016-04-10 00:57] ri0t opened #59 "Location check"
* [ ] check in/outsides for leftovers/crap
* [ ] clean up
* [ ] refill
* ...?

[2016-04-10 15:48] derpeter opened #60 "add slug per event (talk) to the schedule"

[2016-04-10 15:49] derpeter opened #61 "add unique guid which is always the same after rerun"

[2016-04-11 10:36] dvzrv commented on #48
@RhizomaticNomad we still have 3 packs left!
You can come and grab them. I think @ri0t stored them in the soundlab

[2016-04-11 10:47] dvzrv opened #62 "Archive the wiki"

[2016-04-11 10:48] dvzrv commented on #62
I have added a notification on the wiki main page so people will know to upload and link their presentations and additional files.

[2016-04-11 13:08] dvzrv commented on #48
We generated 330€ in donations so far.
Seems we can cover insurance and cleaning from that.
The rest will have to be split amongst us.
Transportation is still in limbo, but will not be 60€ I think.

[2016-04-11 13:10] bgola commented on #48
@dvzrv count on me to split as well

[2016-04-11 13:16] dvzrv commented on #48
@brunogola Thanks! Will get back to you, once this has settled!

[2016-04-11 13:35] Excds commented on #48
@dvzrv Me too.

Oh, and I owe you for lunch as well.

[2016-04-11 14:05] dvzrv commented on #48
@Excds hehe, that's correct! (and I was counting you in already! :P)

[2016-04-11 14:06] dvzrv commented on #49
This will happen tomorrow evening thanks to ryo@c-base

[2016-04-11 14:07] dvzrv commented on #50
The VOC will fetch their stuff for storage after 18:00 today.

[2016-04-11 15:14] ri0t commented on #48
What do you mean with "Split amongst us"?

[code]

[2016-04-11 15:15] ri0t commented on #48
Oh, I forogt, a few packages of coffee are still left - either to generate happiness in form of further donations or getting them back and reducing costs. (Excellent Coffee - thanks again, @RhizomaticNomad for getting the good stuff)

[2016-04-11 15:19] bgola commented on #48
i might be interested in buying one of those packages to reduce costs, if you want to ;)
I just finished my last coffee package at home, im desperate.

[2016-04-11 16:10] RhizomaticNomad commented on #48
I can pick up the coffee on Wednesday evening and give the three packages back, so that the costs get reduced of 24€ and are in total 58€ then. For milk and sugar I also spent 4,40€, so coffee can get calculated with 62€.
@ri0t are you @C-Base Wednesday around 8pm?
Splitting the rest of the costs is OK for me, too.

[2016-04-11 18:37] dvzrv commented on #50
VOC undocked c-base. Goodbye!

[2016-04-11 18:37] #50 closed

[2016-04-11 18:39] dvzrv commented on #48
@ri0t these are not the complete costs yet. we'll know all after tomorrow evening.

[2016-04-11 20:16] RhizomaticNomad commented on #48
@brunogola if you like to just grab one of the coffee, I'll take what's left there.

[2016-04-12 19:26] dvzrv commented on #48
Donations now at 340€ (thanks!).

[2016-04-12 21:54] dvzrv commented on #48
@derpeter spend ~20€ on the shipment for the frame grabber in the mainhall, so we (c-base) could try it out.
I'll ask for that money at the circle on Thursday, as we'll now indeed get the exact same device for c-base (test was successful, so to speak ;-) ).

[2016-04-12 22:19] dvzrv commented on #49
Postponed to tomorrow (20160413)... which is now today. oh well

[2016-04-13 21:35] dvzrv commented on #48
Just paid @RhizomaticNomad earlier this evening (and have a bill for it).
Brought all TU stuff back to the studio for mate (thx ryo@c-base!) and paid myself the one way transportation (against receipt).

[2016-04-14 16:34] dvzrv commented on #49
That was done last night already (for mate). Thx ryo!!

[2016-04-14 16:34] #49 closed

[2016-04-14 20:02] dvzrv commented on #48
c-base took care of the rest of our expenses and will pay @derpeter for the shipment of the frame grabber.
Will pay the insurance by bank transfer later.
SPACE STATIONS RULE!

[2016-04-14 20:02] #48 closed

[2016-04-15 23:10] dvzrv commented on #59
Guess it's safe to assume we can close this :)

[2016-04-15 23:10] #59 closed

[2018-04-20 19:10] #30 closed

[2018-04-20 19:10] #60 closed

[2018-04-20 19:10] #61 closed

[2018-04-20 19:10] #62 closed